# ------ 42 API OAuth Credentials ------
# Replace with your actual 42 API OAuth credentials for hosting environment
#	- https://profile.intra.42.fr/oauth/applications
#
#		For production :
#			vercel env add FT_CLIENT_ID
#			vercel env add FT_CLIENT_SECRET

# App UID OAuth 42
FT_CLIENT_ID=

# App Secret OAuth 42
FT_CLIENT_SECRET=